main{
    padding: 5rem 20%;
}
.mat-stepper-vertical {
    margin-top: 8px;
  }
  
.mat-form-field {
  margin-top: 16px;
  }

.dog-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.dog-form-entry {
  width: 20rem;
}