<main>
    <app-loader *ngIf='calculating'></app-loader>
    <!-- <section *ngIf='!finished'> -->
    <section *ngIf='!loading'>
        
    <mat-vertical-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Qual o nome do seu cão?</ng-template>
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Estou com fome!" formControlName="name" required>
                </mat-form-field>
                <div>
                    <button mat-stroked-button color='primary' matStepperNext>Avançar</button>
                </div>
            </form>
        </mat-step>
        
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fale-nos mais sobre {{firstFormGroup.value.name}}</ng-template>
                <div>
                    <mat-form-field>
                        <mat-label>Idade</mat-label>
                        <input matInput formControlName="age" placeholder="Anos" type="number" min=1 required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Raça</mat-label>
                        <mat-select formControlName="breed" required>
                          <mat-option *ngFor="let breed of breeds" [value]="breed.name">
                            {{breed.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-stroked-button color='primary' matStepperNext>Avançar</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Como anda o peso de {{firstFormGroup.value.name}}</ng-template>
                
                <div>
                    <mat-form-field>
                        <mat-label>Peso (kg)</mat-label>
                        <input matInput formControlName="weight" placeholder="" type="number" required (change)="changeWeight()">
                    </mat-form-field>
                </div>
                
                <div>
                    <mat-form-field>
                        <mat-label>{{firstFormGroup.value.name}} está ...</mat-label>
                        <mat-select formControlName="weight_range" required (selectionChange)="changeWeight()">
                          <mat-option *ngFor="let w_range of weight_ranges" [value]="w_range.value">
                            {{w_range.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div *ngIf='thirdFormGroup.value.weight_range !=0'>
                    <mat-form-field>
                        <mat-label>Peso ideal - kg (opcional)</mat-label>
                        <input matInput formControlName="ideal_weight" placeholder="" type="number" [min]='min_weight' [max]='max_weight'>
                    </mat-form-field>
                </div>

                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-stroked-button color='primary' matStepperNext>Avançar</button>
                </div>
            </form>
        </mat-step>



        <mat-step [stepControl]="fourthFormGroup">
            <form [formGroup]="fourthFormGroup">
                <ng-template matStepLabel> Falando agora da atividade</ng-template>
                <mat-form-field>
                    <mat-label>Nível de atividade</mat-label>
                    <mat-select formControlName="activity" required>
                        <mat-option *ngFor="let act of activities" [value]="act.value">
                        {{act.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-stroked-button color='primary' matStepperNext>Avançar</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="fithFormGroup">
            <form [formGroup]="fithFormGroup">
                <ng-template matStepLabel>Como é a saúde de {{firstFormGroup.value.name}}</ng-template>
                <div>
                    <mat-form-field>
                        <mat-label>Alergias ou doenças?</mat-label>
                        <mat-select formControlName="illness" required>
                            <mat-option [value]='true'>Sim</mat-option>
                            <mat-option [value]='false'>Não</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Precisa de receita especial?</mat-label>
                        <mat-select formControlName="special_case" required>
                            <mat-option [value]='true'>Sim</mat-option>
                            <mat-option [value]='false'>Não</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-stroked-button color='primary' matStepperNext>Avançar</button>
                </div>
            </form>
        </mat-step>


        <mat-step>
            <ng-template matStepLabel>Finalizar</ng-template>
            <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <!-- <button mat-button (click)="stepper.reset()">Recomeçar</button> -->
                <button mat-raised-button (click)="calculatePlan()" color='warn'>Calcular meu plano</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
    
    </section>

    <section *ngIf='finished'>
        <h1>O cardápio ideal para seu melhor amigo!</h1>
        <p> Selecionamos o plano perfeito para um {{dog.breed}} de {{dog.age}} anos que pesa {{dog.weight}} kg: </p>
        <ul>
            <li>Alimentação diária: {{dog.grams_per_day}} gramas</li>
            <li>Nossa formula especial de comida para cão {{dog.type}}</li>
            <li>Estimativa de preço semanal: {{dog.price_per_week}} R$, representando {{dog.packages_per_week}} pacotes de 500g</li>
        </ul>
        
        <img src="../../assets/dog-food.svg">
        

    </section>

</main>