<main>

    <mat-vertical-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Qual o nome do seu cão?</ng-template>
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Estou com fome!" formControlName="name" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Avançar</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fale-nos mais sobre {{firstFormGroup.value.name}}</ng-template>
                <div>
                    <mat-form-field>
                        <mat-label>Idade (anos)</mat-label>
                        <input matInput formControlName="age" placeholder="" type="number" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Peso (kg)</mat-label>
                        <input matInput formControlName="weight" placeholder="" type="number" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Raça</mat-label>
                        <mat-select formControlName="breed" required>
                          <mat-option *ngFor="let breed of breeds" [value]="breed.name">
                            {{breed.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Avançar</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Fale-nos mais sobre {{firstFormGroup.value.name}}</ng-template>
                <div>
                    <mat-form-field>
                        <mat-label>Peso Ideal</mat-label>
                        <input matInput formControlName="ideal_weight" placeholder="" type="number" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Nível de atividade</mat-label>
                        <mat-select formControlName="activity" required>
                          <mat-option *ngFor="let act of activities" [value]="act.name">
                            {{act.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Habitos Alimentares</mat-label>
                        <mat-select formControlName="eating_style" required>
                          <mat-option *ngFor="let eat_style of eating_styles" [value]="eat_style.name">
                            {{eat_style.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Avançar</button>
                </div>
            </form>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Finalizar</ng-template>
            <p>Muito Obrigado! Termine seu pedido que entraremos em contato em breve</p>
            <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button (click)="stepper.reset()">Recomeçar</button>
                <button mat-raised-button (click)="testClick()" color='warn'>Enviar pedido</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>

</main>