
$header-height : 4rem;
$primary-color : #B18904;

.header{
    position: fixed;
    background-color: $primary-color;
    height : $header-height;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    .nav-link{
        text-decoration: none;
        padding-left: 1rem;
        color: white;
        &:hover{
            cursor: pointer;
            color: rgb(255, 205, 42);
        }
    }
}

.logo-container{
    display: flex;
    align-items: center;
    .logo{
        height: 3.5rem;
    }
}