
$header-height : 4rem;
$header-color : #B18904;

.header{
    position: fixed;
    background-color: $header-color;
    height : $header-height;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    .logo{
        height: 3.5rem;
    }
    a{
        padding-left: 1rem;
        &:hover{
            cursor: pointer;
            color: rgb(255, 205, 42);
        }
    }
}
