<section class="section bg-img-1">
    <div style="background-color: rgba(0, 0, 0, 0.5); height:100%;">
    <div class="intro-content">
        <h1 class='intro-title'>Ziggy Comida Natural</h1>
        <h2 class='intro-subtitle'>Tão saudável e apetitosa que até você vai querer comer! </h2>
        <button mat-raised-button color='warn' class='simule-btn' [routerLink]="['/plan']">
            Simule Seu Plano
        </button>
    </div>
    </div>

</section>

<section class='section food'>

    <div class="section-title">
        <h1>Seu melhor amigo merece uma comida natural...</h1>
    </div>

    <mat-grid-list cols="2" rowHeight=250px>

        <mat-grid-tile>
            <div>
                <h1 class ='mini-header'>
                    <img class="icon" src='../assets/vegetable.svg'> Saudável
                </h1>
                <div>
                    Nossa comida é preparada com carnes selecionadas, grãos, legumes e verduras sazonais, embalada e congelada para manter o frescor direto da nossa cozinha para o pote do seu cão!
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="img-container">
                <img class="rounded-img" src="../../assets/veggie_ingredients.jpeg">
              </div>
        </mat-grid-tile>
        
        <mat-grid-tile>
            <div class="img-container">
                <img class="rounded-img" src='../assets/pacotes_comida.jpeg'>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div>
                <h1 class ='mini-header'>
                    <img class="icon" src='../assets/laundry-service.svg'> Prática
                </h1>
                <div>
                    Embalada em termoplásticos que podem ir ao banho maria ou ao microondas, nossa comida dura 3 meses no freezer ou 7 dias na geladeira.Tudo muito prático e saboroso, entregue na sua casa!
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div>
                <h1 class ='mini-header'>
                    <img class="icon" src='../assets/dog-food.svg'> Personalizada
                </h1>
                <div>
                    Abóbora, Batata Doce, Cenoura, Inhame, Couve, Espinafre, Frango, Sardinhas, suplementos essenciais e muito mais compõe as receitas de Ziggy - Comida Natural, garantindo a saúde do seu melhor amigo.
                </div>  
            </div>  
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="img-container">
                <img class="rounded-img" src='../../assets/ziffy_comendo.jpeg'>
            </div>
        </mat-grid-tile>
  </mat-grid-list>

  
</section>


<section class="section bg-img-2">
    <svg class="wave" viewBox="0 0 100 100" preserveAspectRatio="none" version="1.1"><path d="M0 50 H100 V0 H0 V50 C 33.3333 100, 66.6666 0, 100 50"></path></svg>
</section>


<section class="section about">
    <div class="section-title">
        <h1>Como tudo começou</h1>
    </div>
        
    <mat-grid-list cols="2" rowHeight=250px>
        <mat-grid-tile>
            A Ziggy Comida Natural nasceu da necessidade de encontrar uma comida mais saudável e palatável pro nosso Labrador, Ziggy. Quando tinha 4 anos, Ziggy começou a apresentar pelos oleosos, olhos lacrimejantes e otites recorrentes. Além disso, ele não parecia ter apetite e demonstrava muita tristeza na hora de comer.
        </mat-grid-tile>
        
        <mat-grid-tile>
            <div class="img-container">
                <img class="rounded-img" src='../../assets/ziggy_sad.jpeg'>
            </div>
        </mat-grid-tile>


        <mat-grid-tile>
            <div class="img-container">
                <img class="rounded-img" src='../../assets/olga_sorrindo.jpeg'>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            Cansados de ver nosso filhote sofrendo, pesquisamos muito sobre nutrição canina e encontramos o caminho pra devolver a saúde e a alegria para nosso cãozinho na alimentação natural!
        </mat-grid-tile>
        
        <mat-grid-tile>
            Começamos na cozinha de casa, cozinhando só pra ele, e em pouco tempo percebemos uma grande mudança: mais energia, pelos sedosos e sem cheiro, olhos brilhantes e sem secreção e muita felicidade na hora da comida.
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="img-container">
                <img class="rounded-img" src='../assets/ziggy_pulando.jpeg'>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="img-container">
                <img class="rounded-img" src='../assets/cozinha.jpeg'>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            Com o tempo, nossos amigos começaram a pedir comida pra seus cães também, e fomos nos especializando e procurando parcerias com veterinários para chegar nas fórmulas atuais, todas balanceadas e suplementadas com  vitaminas e minerais para suprir todas as necessidades do seu cão de acordo com o NRC (2006) Nutrient Requirements of Dogs and Cats.
        </mat-grid-tile>
  </mat-grid-list>

</section>


<section class="section reviews">
    <div class="section-title">
        <h1>O que falam sobre nós</h1>
    </div>

    <div class="cards-container">

        <mat-card class="review-card">
            <mat-card-header>
                <mat-card-title>Adélia</mat-card-title>
            </mat-card-header>
            <img mat-card-image src='../assets/cliente_3.jpeg'>
            <mat-card-content>
                "Hm adoro essa comida"
            </mat-card-content>
        </mat-card>

        <mat-card class="review-card">
            <mat-card-header>
                <mat-card-title>Junior</mat-card-title>
            </mat-card-header>
            <img mat-card-image src='../assets/cliente_1.jpeg'>
            <mat-card-content>
                "Depois que começei a comer a comida do Ziggy Comida Natura, nunca mais quis ração de novo"
            </mat-card-content>
        </mat-card>

        <mat-card class="review-card">
            <mat-card-header>
                <mat-card-title>Fulano</mat-card-title>
            </mat-card-header>
            <img mat-card-image src='../assets/cliente_2.jpeg'>
            <mat-card-content>
                "Eu só como comida natural, meu pêlo melhorou muito desde então"
            </mat-card-content>
        </mat-card>

    </div>

</section>  

<section class="section contact">
    <div class="section-title">
        <h1>Fale com agente</h1>
    </div>

    <button mat-raised-button color='warn' class='simule-btn' [routerLink]="['/plan']">
        Simule Seu Plano
    </button>
</section>

